<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Project Report Detail</title>
		<link href="/stylesheets/Project/style.css" rel="stylesheet" />
		<script
			type="text/javascript"
			src="/javascripts/Project/jquery.min.js"
		></script>
		<script type="text/javascript" src="/javascripts/Project/index.js"></script>
		<script type="text/javascript" src="/javascripts/disable.js"></script>
	</head>
	<body>
		<%- body%>
	</body>
</html>
