<article class="post hentry">
	<div class="post-media">
		<div class="post-slider slider">
			<div>
				<a href="single-slider.html" rel="bookmark">
					<img src="images/My Logo/user_signature.gif" alt="" />
				</a>
			</div>
			<div>
				<a href="single-slider.html" rel="bookmark">
					<img src="images/My Logo/user_signature.gif" alt="" />
				</a>
			</div>
			<div>
				<a href="single-slider.html" rel="bookmark">
					<img src="images/My Logo/user_signature.gif" alt="" />
				</a>
			</div>
		</div>
	</div>

	<div class="padd-box-sm">
		<header class="post-header text-center">
			<h2 class="post-title entry-title text-upper">
				<a rel="bookmark" href="/project/02_toronto_house_price_analysis"
					>Toronto House Price Analysis</a
				>
			</h2>

			<div class="post-header-info">
				<span class="posted-on"
					><span class="screen-reader-text">Posted on </span>
					<time class="post-date published" datetime="2016-07-04T11:33:08+00:00"
						>01 Oct 2021</time
					>
					<time class="post-date updated" datetime="2016-12-08T14:45:55+00:00"
						>10 Oct 2021</time
					>
				</span>
				&nbsp;<span class="post-author vcard">by David Chen</span>
			</div>
		</header>

		<div class="post-content entry-content editor clearfix clear-mrg">
			<p>
				Your brand is the core of your marketing, the central theme around your
				products and services. Your brand is not your Logo or your Company Name
				unless of course you are Microsoft or the Yellow Pages online directory.
			</p>
		</div>

		<footer class="post-footer">
			<div class="post-footer-top brd-btm clearfix">
				<div class="post-footer-info">
					<span class="post-cat-links"
						><span class="screen-reader-text">Categories</span
						>Team&nbsp;|&nbsp;Project Portfolio
					</span>
				</div>

				<div class="post-more">
					<a
						class="btn btn-sm btn-primary"
						href="/project/02_toronto_house_price_analysis"
						rel="bookmark"
						>Read More</a
					>
				</div>
			</div>
		</footer>
	</div>
</article>
<!-- .post -->
